<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleDisplayName</key>
	<string>MyTerm</string>
	<key>CFBundleExecutable</key>
	<string>MyTerm</string>
	<key>CFBundleIconFile</key>
	<string>MyTerm.icns</string>
	<key>CFBundleIdentifier</key>
	<string>local.myterm.app</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>MyTerm</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.10</string>
	<key>CFBundleVersion</key>
	<string>135</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MyTerm Saved Server</string>
			<key>UTTypeIdentifier</key>
			<string>local.myterm.saved-server</string>
		</dict>
	</array>
</dict>
</plist>
